
/*Menu Color*/
.navbar-inverse {
    background-color: #3D6B89;
    border-color: #fff;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #418CC0;
}
.dropdown-menu {
  background-color: #418CC0;
 
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #fff;
}

  .dropdown-menu > li > a {
     color: #fff;
  }

.container.body-content {
  margin-top:75px;
}

.selected { background-color:#aab7d1 !important; }
